@import "tailwindcss";


:root {
  --background: #EEE4D9;
  /* --background: #EEEEEE; */
  /* --foreground: #000000; */
      --font-departure-mono: var(--font-departure-mono), sans-serif;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
    --font-departure-mono: var(--font-departure-mono), sans-serif;
  --font-inter: var(--font-inter), sans-serif;

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Georgia;
}
